-- slot_status 테이블에 필요한 컬럼 추가
ALTER TABLE slot_status 
ADD COLUMN IF NOT EXISTS slot_type TEXT DEFAULT '쿠팡',
ADD COLUMN IF NOT EXISTS usage_days INTEGER DEFAULT 30,
ADD COLUMN IF NOT EXISTS expiry_date TIMESTAMP WITH TIME ZONE;
