-- slot_status 테이블 컬럼명 수정
-- 기존 컬럼 제거
ALTER TABLE slot_status DROP COLUMN IF EXISTS remaining_days;
ALTER TABLE slot_status DROP COLUMN IF EXISTS registration_date;

-- 새로운 컬럼 추가 (이미 있는 경우는 제외)
ALTER TABLE slot_status 
ADD COLUMN IF NOT EXISTS usage_days INTEGER DEFAULT 30;
