-- slots 테이블 데이터를 slot_status 테이블로 마이그레이션
INSERT INTO slot_status (
  customer_id,
  customer_name,
  distributor,
  work_group,
  keyword,
  link_url,
  memo,
  current_rank,
  start_rank,
  slot_count,
  traffic,
  equipment_group,
  status,
  slot_type,
  usage_days,
  created_at,
  updated_at
)
SELECT 
  customer_id,
  customer_name,
  '일반' as distributor,
  '공통' as work_group,
  '기본키워드' as keyword,
  'https://example.com' as link_url,
  memo,
  '1 [0]' as current_rank,
  '1 [0]' as start_rank,
  slot_count,
  '0 (0/0)' as traffic,
  '지정안함' as equipment_group,
  status,
  slot_type,
  usage_days,
  created_at,
  updated_at
FROM slots
WHERE customer_id IS NOT NULL;
